ENVIRONMENT=local
HTTP_PORT=8080

# Run PHP container as host user (fixes permissions for bind mounts
# since XenForo can be... annoying about literally anything file related)
UID=1000
GID=1000

MARIADB_PORT=3380
MARIADB_ROOT_PASSWORD=root
MARIADB_USER=gmcore_forums
MARIADB_PASSWORD=password
MARIADB_DATABASE=gmcore_forums

XF_OPTION_boardTitle=[LOCAL] GMCore

# Add your GitHub org name here to pull the images from your GHCR
NGINX_IMAGE=ghcr.io/ORGNAME/xf2-forums-docker-image-nginx:staging
PHP_IMAGE=ghcr.io/ORGNAME/xf2-forums-docker-image-php:staging