.bbCodePreview
{
	.m-transitionFadeDown();
}

.bbCodePreview-content
{
	max-height: 300px;
	max-height: 75vh;
	overflow: auto;
	padding-bottom: 3px; // mostly to ensure icode doesn't overflow unexpectedly
	font-family: @xf-fontFamilyBody;
}

.bbCodePreview {
    border-radius: 12px;
    border: 1px solid rgba(52, 73, 94, 0.7);
    padding: 12px;
}
