<xf:title>{$title} - {{ phrase('content_history') }}</xf:title>

<xf:breadcrumb source="$breadcrumbs" />

<div class="block">
	<div class="block-container">
		<h2 class="block-tabHeader tabs" data-xf-init="tabs" role="tablist">
			<a class="tabs-tab is-active" role="tab" tabindex="0" aria-controls="{{ unique_id('ehFormatted') }}">{{ phrase('formatted') }}</a>
			<a class="tabs-tab" role="tab" tabindex="0" aria-controls="{{ unique_id('ehRaw') }}">{{ phrase('raw') }}</a>
		</h2>
		<ul class="tabPanes block-body">
			<li class="block-row is-active" role="tabpanel" id="{{ unique_id('ehFormatted') }}">
				{$handler.getHtmlFormattedContent({$editHistory.old_text}, $content)|raw}
			</li>
			<li class="block-row" role="tabpanel" id="{{ unique_id('ehRaw') }}">
				<xf:textarea rows="10" readonly="readonly" value="{$editHistory.old_text}" />
			</li>
		</ul>
		<xf:form action="{{ link('edit-history/revert', $editHistory) }}" class="block-footer" ajax="true">
			<span class="block-footer-controls">
				<xf:checkbox>
					<xf:option name="confirm" value="1">
						<xf:dependent>
							<xf:button type="submit" name="revert" value="1" class="button--primary">
								{{ phrase('revert') }}
							</xf:button>
						</xf:dependent>
					</xf:option>
				</xf:checkbox>
			</span>
		</xf:form>
	</div>
</div>