<div class="embed-container contentRow contentRow--alignMiddle">
	<div class="contentRow-figure">
		<xf:avatar user="$content.User" size="s" defaultname="{$content.username}"/>
	</div>
	<div class="contentRow-main">
		<h3 class="contentRow-header">
			<xf:if is="$content.Thread.prefix_id">
				{{ prefix('thread', $content.Thread, 'html', '') }}
			</xf:if>
			<a href="{$content.getContentUrl()}" class="fauxBlockLink-blockLink u-cloaked">{$content.getContentTitle()}</a>
		</h3>

		<div class="contentRow-minor contentRow-minor--hideLinks">
			<xf:date time="{$content.post_date}"/>
		</div>
	</div>
</div>

<div class="embed-preview">
	{{ bb_code_snippet($content.message, 'post', $content, 600, {'withinEmbedResolver': true}) }}
</div>

<div class="embed-footer">
	<div class="embed-footer-main">
		<ul class="listInline listInline--bullet">
			<li>
				<xf:username user="{$content.User}" defaultname="{$content.username}"/>
			</li>
		</ul>
	</div>
	<div class="embed-footer-opposite">
		<xf:reactions summary="true" reactions="{$content.reactions}"/>
	</div>
</div>