<xf:js src="xf/webauthn.js" min="1" />

<xf:title>{{ phrase('password_confirmation') }}</xf:title>

<div class="blocks">
	<xf:form action="{{ link('login/password-confirm') }}" class="block" ajax="true">
		<div class="block-container">
			<div class="block-body">
				<xf:inforow rowtype="confirm">
					{{ phrase('to_access_this_page_you_must_first_confirm_your_password') }}
				</xf:inforow>

				<xf:formrow label="{{ phrase('user_name') }}">{$xf.visitor.username}</xf:formrow>

				<xf:passwordboxrow name="password" label="{{ phrase('password') }}" />
			</div>
			<xf:submitrow submit="{{ phrase('confirm') }}" />
		</div>
		<xf:redirect url="{$redirect}" />
	</xf:form>

	<xf:if is="$passkey && count($existingCredentials) > 0">
		<div class="blocks-textJoiner"><span></span><em>{{ phrase('or_separator') }}</em><span></span></div>

		<div class="block">
			<div class="block-container">
				<div class="block-body">
					<xf:formrow rowtype="button">
						<xf:form action="{{ link('login/password-confirm') }}" data-xf-init="webauthn"
							data-type="get"
							data-autotrigger="false"
							data-autosubmit="true"
							data-verifying="{{ phrase('verifying...') }}">

							<xf:button class="button--icon button--provider button--provider--passkey js-webauthnStart">
								{{ phrase('passkey') }}
							</xf:button>

							<xf:hiddenval name="webauthn_payload" />
							<xf:hiddenval name="webauthn_challenge">{{ $passkey ? $passkey.getChallenge() : '' }}</xf:hiddenval>
							<xf:redirect url="{$redirect}" />
						</xf:form>
					</xf:formrow>
				</div>
			</div>
		</div>
	</xf:if>
</div>