<xf:title>{{ phrase('lost_password') }}</xf:title>

<xf:head option="robots"><meta name="robots" content="noindex" /></xf:head>

<xf:form action="{{ link('lost-password') }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow>{{ phrase('if_forgotten_your_password_use_form_to_reset') }}</xf:inforow>

			<xf:textboxrow name="email" type="email" autofocus="autofocus" autocomplete="email"
				maxlength="{{ max_length($xf.visitor, 'email') }}"
				label="{{ phrase('email') }}"
				explain="{{ phrase('email_address_you_registered_with_is_required_to_reset_your_password') }}" />

			<xf:if is="$xf.options.lostPasswordCaptcha">
				<xf:captcharow label="{{ phrase('verification') }}" context="xf_lost_password" />
			</xf:if>
		</div>
		<xf:submitrow submit="{{ phrase('reset') }}" />
	</div>
</xf:form>