<xf:title>{{ phrase('reset_password') }}</xf:title>

<xf:head option="meta_referrer"><meta name="referrer" content="origin" /></xf:head>
<xf:head option="robots"><meta name="robots" content="noindex" /></xf:head>

<xf:form action="{{ link('lost-password/confirm', $user, {'c': $c}) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:formrow label="{{ phrase('your_name') }}">{$user.username}</xf:formrow>

			<xf:passwordboxrow name="password" label="{{ phrase('new_password') }}" autocomplete="new-password" checkstrength="true" />

			<xf:passwordboxrow name="password_confirm" label="{{ phrase('confirm_new_password') }}" autocomplete="new-password" />
		</div>
		<xf:submitrow icon="save" />
	</div>
</xf:form>