<xf:head option="robots"><meta name="robots" content="noindex" /></xf:head>

<div class="blockMessage">
	<xf:if is="$xf.visitor.user_state == 'moderated'">
		{{ phrase('your_email_has_been_confirmed_registration_must_be_approved') }}
	<xf:elseif is="{{ $xf.visitor.getPreviousValue('user_state') == 'email_confirm_edit' }}" />
		{{ phrase('your_email_has_been_confirmed_and_your_account_is_now_fully_active_again') }}
	<xf:else />
		{{ phrase('your_email_has_been_confirmed_and_your_registration_is_now_complete') }}
	</xf:if>

	<xf:if is="{$preRegContentUrl}">
		<br />
		<br />
		{{ phrase('content_you_created_before_registering_posted_automatically') }}
		<div style="margin-top: .5em">
			<xf:button href="{$preRegContentUrl}">{{ phrase('view_your_content') }}</xf:button>
		</div>
	</xf:if>

	<ul>
		<xf:if is="$redirect"><li><a href="{$redirect}">{{ phrase('return_to_page_you_were_viewing') }}</a></li></xf:if>
		<li><a href="{{ link('index') }}">{{ phrase('return_to_forum_home_page') }}</a></li>
		<xf:if is="$xf.visitor.canEditProfile()">
			<li><a href="{{ link('account') }}">{{ phrase('edit_your_account_details') }}</a></li>
		</xf:if>
	</ul>
</div>