<xf:title>{{ phrase('manage_watched_forums') }}</xf:title>

<xf:form action="{{ link('watched/forums/manage', null, {'state': $state}) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-row">
			<xf:inforow rowtype="confirm">
				<xf:if is="$state == 'delete'">
					{{ phrase('you_sure_you_want_to_stop_watching_all_forums') }}
				<xf:else />
					{{ phrase('you_sure_you_want_to_update_notification_settings_for_all_forums') }}
				</xf:if>
			</xf:inforow>
		</div>
		<xf:submitrow submit="{{ phrase('proceed') }}" icon="notificationsOff" rowtype="simple" />
	</div>
</xf:form>