
        
<xf:textboxrow name="options[client_id]"
               value="{$options.client_id}"
               label="{{ phrase('Domain Name') }}"
               hint="{{ phrase('required') }}"
               explain="{{ phrase('con_acc_steam_domain_explain') }}" />
<xf:textboxrow name="options[client_secret]"
               value="{$options.client_secret}"
               label="{{ phrase('API Key') }}"
               hint="{{ phrase('required') }}"
               explain="{{ phrase('con_acc_steam_apikey_explain') }}" />
        
    