<xf:title>After Hours Gaming - Dashboard Configurator</xf:title>

<div class="block-container" style="padding:15px">
   <ul class="iconicLinks-list">
      <li>
         <a href="/admin.php?gl-store/manage">
            <div class="iconicLinks-icon"><i class="fa--xf far fa-fw fa-money-bill" aria-hidden="true"></i></div>
            <div class="iconicLinks-title">Manage Store Ranks</div>
         </a>
      </li>
	   
      <li>
         <a href="/admin.php?gl-store/purchases">
            <div class="iconicLinks-icon"><i class="fa--xf far fa-fw fa-file-invoice" aria-hidden="true"></i></div>
            <div class="iconicLinks-title">View/Modify Purchases</div>
         </a>
      </li>
   </ul>
</div>