.button.button--provider--steam,
a.button.button--provider--steam {
	color: #ffffff;
	background-color: #171a21;
	border-color: #171a21;
	&:hover, &:active, &:focus {
		background-color: #2c303a;
	}
}